section {
	margin-top: 60px;
	padding-top: 100px;
}

/* index */

.tooltip-inner {
	max-width: 500px;
}

.hero-unit {
	padding-bottom: 5px;
	background-color: #F3F3F3;
	border: 1px solid #ddd;
	text-align: center;
}

.hero-unit h1,
.hero-unit p {
	margin-bottom: 15px;
}

#social {
	display: inline-block;
	margin-top: 45px;
	text-align: center;
}

#gh-star {
	margin-right: 10px;
}

.twitter-share-button  {
	margin-right: 15px;
}

.rss-button {
	width: 40px;
	height: 14px;
	font-size: 11px;
	line-height: 14px;
	font-weight: bold;
	margin: 0 0 10px;
	padding: 2px 5px 2px 4px;
}

.index h3 {
	text-align: center;
	font-size: 20px;
}

#ticker {
	margin-top: 40px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.4;
}

.about {
	margin-top: 40px;
	margin-bottom: 40px;
}

.about > div {
	margin-bottom: 20px;
}

.about h3 {
	margin: 0;
	text-align: left;
}

.about i {
	margin-right: 8px;
	font-size: 1.3em;
}

#gallery {
	padding-top: 60px;
}

.thumbnail {
	margin-bottom: 20px;
	background-color: #f3f3f3;
	background-color: rgba(0, 0, 0, 0.05);
}

.thumbnail img {
	width: 100%;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.thumbnail .caption {
	color: inherit;
}

.thumbnail .caption p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.thumbnail h3 {
	text-align: left;
	margin-bottom: 0;
}

.thumbnail .btn-toolbar {
	margin-top: 15px;
	text-align: right;
}

#more {
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
}

.links {
	margin-bottom: 20px;
}

.links > a {
	margin-right: 10px;
}

.bsa {
	float: right;
	max-width: 400px;
	padding: 0;
}

body .one .bsa_it_ad {
	margin-bottom: -10px;
	padding: 25px 25px 15px 25px;
	background: none;
	border: none;
	font-family: inherit;
	color: inherit;
}

body .one .bsa_it_ad .bsa_it_t,
body .one .bsa_it_ad .bsa_it_d {
	color: inherit;
	font-size: inherit;
}

body .one .bsa_it_p {
	display: none;
}

.bsap img {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#footer {
	margin-bottom: 20px;
}

#footer .links a {
	margin-right: 10px;
}



/* preview */

.subhead {
	padding-bottom: 0;
	margin-bottom: 9px;
}

.subhead h1 {
	font-size: 54px;
}

.subhead > div:first-child {
	min-height: 200px;
}

/* subnav */

