*.py[cod_]
MANIFEST

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# ProDy
*.nmd
*.pdb
*.pdb.gz

# Docs
doc/_build/
doc/*/*/_*
doc/plot_directive
output.txt
doc/_doctest/*

*.pdf
*.zip
*.gz
*.tgz

.unison*

.pypirc
.gitignore

chauthorinfo.sh
pre-commit.sh

slides/*
Documentation/*


*html
*css
*js
*png
*xml
*log
*BAK
*.sublime*