*.py[cod_]
MANIFEST

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
__pycache__

# ProDy
*.nmd
*.pdb
*.pdb.gz

# Docs
doc/*/*/_*
_build/*
doc/_static/figures

*.pdf
*.zip
*.gz
*.tgz

.unison*

.pypirc
.gitignore

chauthorinfo.sh
pre-commit.sh

slides/*
Documentation/*

*png
*xml
*log
*BAK
*.sublime*
