*.so
*.pyc
*.pyd
*.py_
*.nmd
*.pdb
*.pdb.gz
.unison*
*.pdf
*.zip
*.gz
*.tgz
doc/_build/
doc/*/*/_*
doc/plot_directive
doc/output.txt
.pypirc
.gitignore
chauthorinfo.sh
pre-commit.sh
slides/*
Documentation/*
MANIFEST
dist/*
doc/doctest/*
*html
*css
*js
*png
*xml
*log
*BAK
