name: test
channels:
  - conda-forge
  - bioconda
  - defaults
dependencies:
  # Conda packages
  - python  # version will be overridden by the matrix in CI
  - compilers
  - gfortran
  - numpy
  - pyparsing<=3.1.1
  - scipy
  - matplotlib # REQUIRED: Prevents import errors and allows font caching
  - nose
  - pytest
  - pytest-timeout  # Added here for caching
  - requests
  - pdbfixer
  - mdtraj
  - openmm
  - clustalw
  
  # Pip packages
  - pip
  - pip:
    - mmtf-python
    - scikit-learn
