include *.rst
include setup.py
include prody/*.py
include prody/*/*.py
include prody/*/*.c
include prody/*/*.h
include prody/tests/test_*/*.py
include prody/tests/test_datafiles/*.coo
include prody/tests/test_datafiles/*.dcd
include prody/tests/test_datafiles/*.dat
include prody/tests/test_datafiles/*.pdb
include prody/tests/test_datafiles/*.xml
include prody/tests/test_datafiles/msa*
include scripts/prody*
include scripts/evol*
