# Documentation Tools
Sphinx>=7.0.0
sphinx_rtd_theme>=2.0.0
sphinxcontrib-jquery

# Scientific Stack (Needed to import ProDy)
numpy
scipy
matplotlib
ipython  # Required if your tutorials use 'ipython' directives

# Any other plugins found in your conf.py
# (Add these only if you use them)
sphinx-copybutton
nbsphinx
