# --- Documentation Core ---
Sphinx>=7.0.0
sphinx_rtd_theme>=2.0.0
sphinxcontrib-jquery

# --- Scientific Stack (Required for ProDy to import) ---
numpy
scipy
matplotlib
ipython
ipykernel

# --- Plugins ---
sphinx-copybutton
nbsphinx
pandoc
