# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on: [push, pull_request, workflow_dispatch]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["2.7", "3.5", "3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Add conda to system path
      run: |
        echo $CONDA/bin >> $GITHUB_PATH
    - name: Install dependencies
      run: |
        if [[ ${{ matrix.python-version }} == "3.11" ]]; then conda config --add channels conda-forge; fi
        conda create --yes -n test python=${{ matrix.python-version }}
        source activate test
        conda install --yes numpy scipy nose pyparsing biopython requests
        if [[ ${{ matrix.python-version }} == "2.7" ]]; then conda install --yes unittest2; fi
        python setup.py build_ext --inplace --force
    - name: Test with pytest
      run: |
        source activate test
        conda install --yes pytest
        pytest
        